 /* h1{
            color: blue;
        }
        body{
            background-color: black;
        }
        h1{
            color: blue;
        }
        p{
            background-color: darkmagenta;
        }*/
        /* .blue{
            color: blue;
        }
        .uppercase{
            text-transform: uppercase;
        }
        #the-title{
            text-decoration: underline;
        } */
        /* h1,p{
            color: red;
        } */
        /* p strong{
            text-decoration: underline;
            color: blue;
        }
        p i{
            font-size: 50px;
            color: rgba(20%, 3%, 55%);
        }
        body{
            background-color: rgba(30%,40%,10%,50%);
        }
        a{
            color: black;
        }
        a:hover{
            color: blue;
        }
        a:active{
            color: red;
        }
        a:visited{
            color: yellow;
        } */

        /* h1.small{
            font-size: 20px;
        } */


        /* div{
            background-image: url("/CSS101/cssimg2.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 300px;
            background-position: center center;

        } */



        /* h1{
            text-align: center;
        } */

        /* div.red-border{

            border: 5px solid green;
            border-top-left-radius: 5px;
            width: 200px;
            border-top-right-radius: 50px;
            height: 200px;
        } */

        /* div{
            display: inline-block;
            border: 1px solid red;
            width: 200px;
        } */

        /* span.half-width{
            width: 200px;
            height: 200px;
            border:10px solid red;
            display: inline-block;
        } */
        /* #box{
            width: 200px;
            height: 200px;
            border: 2px solid #080808;

            background-image: url("cssimg2.jpg");
            background-size: cover;
            background-position: center center;
            border-radius: 0 50%;
            box-shadow: 2px 2px 5px inset #c32626;
        } */
        body{
            background-color: #F0f0f0f0;
            
            background-size: cover;

        }
        /* #box{
            display: block;
            width: 200px;
            height: 200px;
            margin: 50px auto;
            color: red;
            padding:20px;
            background-color: rgba(199, 66, 66,0.5);
            /* opacity: 0.5; 

        } */

        /* #box{
            width: 200px;
            height: 200px;
            border: 1px solid blue;
             padding: 20px;

            padding: 10px 20px 50px 10px;

             margin: auto;

            margin: 50px auto 50px;
            display: block;

        } */
        /* #inline{
            display: inline-block;
            border: 3px solid red;
            max-width: 500px;
        } */

        #floating-img{
            float: left; 
            margin: 10px;
            border: 2px solid rgb(170, 20, 20);
            box-shadow: 3px 3px 5px  rgb(212, 45, 45);

        }