body{
    background-color: #f4f4f4;
    
    position: relative;
}
.container{
    position: absolute;
    border: 5px solid red;
    height: fit-content;
    width: fit-content;

}
.box{
    width: 200px;
    height: 200px;
    background-image: url(/test-proj/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-786x552.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
