body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./Star_Wars_logo-1.png');

    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 500px;
}
