body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Star_Wars_logo-1.png');
    background-position: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    width: 500px;
}
