body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: block;
}

.mid{
    width: 70%;
    height: 10%;
    display:flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline;
    padding: 20px;
    width: 300px;
    text-align: center;
}
.imgLogo{
    width: 100%;
}
.content{
    display: inline;
}
.content ul{
    display: inline;
}
li{
    display: inline;
    padding: 20px 30px;
    font-size: 25px;
    letter-spacing: 1px;
}

.hero1{
    display: block;
    width: 100%;
    margin: auto;
    height: 700px;  
    background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.8)),url(/CSS101/project/assets/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center!important;
}

.hero1_content{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 150px;
    color: white;
    font-size: 30px;
}
.hero1_content a{
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    padding: 20px;

}
