.navbar{
    display: block;
}

.mid{
    width: 70%;
    height: 10%;
    display:flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.imgLogo{
    
    width: inherit;
    height: inherit;
}
.content{
    display: inline;
}
.content ul{
    display: inline;
}
li{
    display: inline;
    padding: 20px 30px;
    font-size: 15px;
    letter-spacing: 1px;
}

